html {
  font-family: "Open Sans", sans-serif;
  background-color: #f2f2f2;
}

.form {
  background-color: #fff;
  text-decoration-color: #000;
}

@media only screen and (min-width: 60em) {

  .bum {
    padding: 0 1rem 0 0;
    border: #000;
  }

}
